@font-face {
  font-family: "Open Huninn";
  src: url("../assests/font/jf-openhuninn-2.1.ttf") format("truetype");
}

body {
  background-color: #fff9db;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Open Huninn";
  box-sizing: border-box;
}

a {
  color: inherit;
}

/* header */
header {
  display: flex;
  width: 100%;
  height: 100px;
  padding: 10px 20px;
  background-color: #fff9db;
  margin: auto;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10;
  opacity: 0.95;
}

.header-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
}

nav {
  display: flex;
  width: 100%;
  height: auto;
  padding: 0px 40px;
  justify-content: flex-end;
  align-items: center;
}

.navlist {
  display: flex;
  width: 677px;
  gap: 25px;
  justify-content: flex-end;
  align-items: center;
}

.navlist li {
  transition: transform 0.3s ease;
}

.navlist li:hover {
  transform: scale(1.2);
}

.nav-icon {
  display: flex;
  width: 116px;
  align-items: center;
  gap: 6px;
  position: relative;
  left: 40px;
}

nav ul {
  display: flex;
}

nav ul li {
  margin: 10px;
  position: relative; /* 讓下拉選單以li為基準 */
}

.dropdown {
  position: absolute;
  top: 100%; /* 讓下拉選單在li下面 */
  left: 0;
  font-size: 14px;
  display: none;
  list-style: none;
  padding: 5px;
  margin: 0;
  background-color: #fff9db;
  opacity: 0.95;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul li:hover .dropdown {
  display: block;
}

.account-icon,
.cart-icon {
  width: 35px;
  height: 35px;
}

nav li {
  list-style: none;
}

header a {
  text-decoration: none;
}

header a:visited {
  color: black;
}
header a:hover {
  color: #5b4722;
}

/* hamburger */

.hamburger {
  width: 40px;
  height: 40px;
  display: none;
  flex-direction: column;
}

.hamburger span {
  width: 95%;
  height: 5px;
  margin: 5px 0px;
  background-color: black;
  transform-origin: left center;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* 轉換hamburger 型態  */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg);
}

/* 手機斷點 */
@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }
  nav {
    padding: 0px;
  }
  nav .navlist {
    flex-direction: column;
    position: absolute;
    font-size: 28px;
    font-weight: 600;
    width: 100%;
    height: calc(100vh - 100px);
    /* 要減去nav的高度 */
    top: 80px;
    left: 0;
    background-color: #fff9dbd9;
    display: none;
    /* 手機選單要消失 */
    justify-content: center;
    align-items: center;
  }

  nav .nav-icon {
    display: none;
  }

  nav .navlist.active {
    display: flex;
    /* 按下去之後選單要出現 */
  }
  nav .navlist li {
    margin: 20px;
  }
}

/* footer */
footer {
  display: flex;
  width: 100%;
  height: 450px;
  flex-direction: column;
  align-items: center;
  padding: 0px 37px;
  margin-top: 100px;
}

.footer-top {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  gap: 80px;
  align-self: stretch;
}

.footer-top img {
  display: flex;
  width: 231px;
  height: 300px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer-info {
  display: flex;
  width: 368px;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.footer-info p {
  line-height: 35px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.footer-list ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-list a {
  font-weight: 700;
}

footer li {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: black;
}

.footer-list a:hover {
  color: #5b4722;
}

footer a:visited {
  color: black;
}
.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.fa-instagram,
.fa-threads,
.fa-facebook-f {
  font-size: 24px;
}

.fa-instagram:hover,
.fa-threads:hover,
.fa-facebook-f:hover {
  color: #5b4722;
}

.footer-bot {
  display: flex;
  height: 115px;
  align-items: center;
  align-self: stretch;
}

.footer-bot p {
  line-height: 25px;
}
